<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {title: 'CSE Motors | Luxury Vehicles & Custom Upgrades'}) %>
</head>

<body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    
    <div id="wrapper" class="content-container">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>
        
        <main id="main-content">
            <%- body %>
        </main>
        
        <%- include('../partials/footer') %>
    </div>
</body>
</html>